
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  margin: 0;
}
.full-height{
  height: 100%;
}
body {
  margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #00F9FF;
  background-color: #000;
}
.topnav {
  overflow: hidden;
  background:#000;
  width:100%;
    
}
.topnav a {
  float: right;
  display: block;
  color: #00f9ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
 }
.profilePicture {
  width: 8em;
  border: 5px #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #00F9FF;  
  top: 50%;
  left: 50%;
}  
.neon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  max-width: 100%;
  font-size: 1000%;
  color: #fff;
  text-shadow: 0 0 20px #00F9FF;
}

.neon::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #00F9FF;
  filter: blur(15px);
}  
.neon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00F9FF;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px); 
}
@media (max-width: 1080px) {
  .column, .column.leftSide, .column.middle {
    width: 100%;
  }
}
.column {
  float: left;
  padding: 1em;
  width: 50%;
  
}

.column.leftSide {
  height: 100%;
  width: 30%;
  background-color: black 0;
  padding-right: 10em;
 }

.column.middle {
  width: 70%;
  padding-left: 1em;
  background-color:black 0; 
   
}

.row {
  width: 100%;
  background-image: linear-gradient(to bottom, 
   #000,
   #1C1C1C,
   #363636
   );
  background-repeat: no-repeat;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.icones-redes-sociais a {
  width: 3em;
  height: 3em;
  display: block;
  text-indent: -99999999px;
  background-repeat: no-repeat; 
  
}
.redes-sociais {
  float: left;
  display: block;
  color: #00f9ff;
  text-align: center;
  padding: 0.8em 1em;
  text-decoration: none;
  top: -2.5%;
  left: -1%;
  position: absolute;
}
.icones-redes-sociais li {
  display: inline-block;
  padding: 0.3em;
}

.github {
  background-image: url(img/github-48.png);
}

.twitter {
  background-image: url(img/twitter-40.png);
}

.linkedin {
  background-image: url(img/linkedin-40.png);
}

.home {
  background-image: url(img/home-40.png);
}
div ul {
  float: left;
  display: block;
  color: #00F9FF;
  text-align: center;
  padding: 2em 1em;
  text-decoration: none;
  background-attachment: fixed;
  
}
.rodape-pagina {  
  color: rgb(255, 255, 255);
  clear: both;
  position: fixed;
  bottom:0;
  left:0;
  height: 2.5rem;
  width:100%;
  background-attachment: fixed;
}
.style-hr {
  border: 10px; 
  height: 10px; 
  background-image: linear-gradient(left, #00f9ff, #00f9ff, #00f9ff);
}
#container {
  border: 0.3em solid black;
  width: 90%;
  padding-bottom: 1em;
}
#container-vertical{
  border: 0.3em solid black;
  width: 90%;
  height: 35em;
  padding-bottom: 1em;
  }
.img {
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: fill;
}
.vertical-img {
  height: 100%;
  transform: rotate(90deg)!important;
}
.img2{
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}