@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  margin: 0;
}
body {
  margin: 0em;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #00F9FF;
  background-color: #000;
}

.header {
  background-color: #000;
  padding: 21%;
  text-align: center;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  clear: both;
  height: 100%;
}
.topnav {
  overflow: hidden;
  background:#000;
  width:100%;
  height: 4em;  
}
.topnav a {
  float: right;
  display: block;
  color: #00f9ff;
  text-align: center;
  padding: 0.8em 0.8em;
  text-decoration: none;
}
.neon:hover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  max-width: 100%;
  font-size: 8em;
  color: #fff;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}  
.neon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  max-width: 100%;
  font-size: 8em;
  color: #fff;
  text-shadow: 0 0 20px #00F9FF;
}
.neon:hover:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: rgb(0, 0, 0);
  filter: blur(15px);
}

.neon::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #00F9FF;
  filter: blur(15px);
}
.neon:hover:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px); 
}  
.neon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00F9FF;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px); 
}

.icones-redes-sociais a {
  width: 3em;
  height: 3em;
  display: block;
  text-indent: -99999999px;
  background-repeat: no-repeat; 
  
}
.redes-sociais {
  float: left;
  display: block;
  color: #00f9ff;
  text-align: center;
  padding: 0.8em 0.8em;
  text-decoration: none;
  position: absolute;
}
.icones-redes-sociais li {
  display: inline-block;
  padding: 0.3em;
}
.github {
  background-image: url(img/github-48.png);
}

.twitter {
  background-image: url(img/twitter-40.png);
}

.linkedin {
  background-image: url(img/linkedin-40.png);
}

.home {
  background-image: url(img/home-40.png);
}
.row {
    width: 99%;
    position: relative;
    background-image:#000;
    background-repeat: no-repeat;
  }
.rodape-pagina {  
  color: rgb(255, 255, 255);
  clear: both;
  position: fixed;
  bottom:0;
  left:0;
  height: 2.5rem;
  width:100%;
  background-attachment: fixed;
  padding-top: 10em;
}
@media screen and (max-width: 1340px) {
    .row{
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: auto;
    }
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, 5vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 9;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 14;
}
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 14;
}
.gallery__item--1:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}.gallery__item--2:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}.gallery__item--3:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}.gallery__item--4:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}.gallery__item--5:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
.gallery__item--6:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
