@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #00F9FF;
  background-image: linear-gradient(to bottom, 
   #000,
   #1C1C1C,
   #363636,
   #4f4f4f,
   #696969
   );
  background-repeat: no-repeat;
}

.header {
  background-color: #000;
  padding: 25%;
  text-align: center;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.lightOff{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 1000%;
  color: #fff;

}
.neon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  max-width: 100%;
  font-size: 1000%;
  color: #fff;
  text-shadow: 0 0 20px #00F9FF;
}
.neon::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #00F9FF;
  filter: blur(5%px);
}  
.neon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00F9FF;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px); 
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
 }  
}   

.icones-redes-sociais a {
  width: 48px;
	height: 48px;
	display: block;
  text-indent: -99999999px;
  background-repeat: no-repeat; 
  
}
.redes-sociais {
  float: left;
  display: block;
  color: #00f9ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: absolute;
}
.icones-redes-sociais li {
  display: inline-block;
  padding: 5px;
  
}
.github {
  background-image: url(img/github-48.png);
}

.twitter {
  background-image: url(img/twitter-40.png);
}

.linkedin {
  background-image: url(img/linkedin-40.png);
}

.blog {
  background-image: url(img/icon-blog.png);
}


.rodape-pagina {  
  color: rgb(255, 255, 255);
  clear: both;
  position: fixed;
  bottom:0;
  left:0;
  height: 2.5rem;
  width:100%;
  background-attachment: fixed;
}

.topnav {
  overflow: hidden;
  background:#f000;
  width:100%;
   
}
.topnav a {
  float: right;
  display: block;
  color: #00f9ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}