*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	position: relative;
	background-image: url(https://i.giphy.com/media/gU25raLP4pUu4/giphy.webp);
	height: 195px;
	color: #FFF;
	margin-bottom: 1em;
	
}

header h1{
	
	font-size: 2em;
	vertical-align:	bottom;
	padding-bottom: 5px;
	position: absolute;
  top: 80%;
  left: 50%;


}
.profilePicture
{
	width: 8rem;		
	/*border: 2px solid dimgrey;
	background-color: grey;
    border-radius: 50%;*/
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
    position: absolute;
  	top: 15%;
	left: -35%
		
    
}

header div{
	box-sizing: border-box;
	padding-bottom: 10px;
	position: center;
	

}
.titulo{
	box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
	position: absolute;
	top: 65%;
	left: -33%
}

.profile{
	 
	width: 60%;
	height: 195%;
	margin: 0 auto;
	position: relative;
}
main h2 {
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	position: absolute;
 	top: 50%;
	left: 50%;
}
main p{
	font-size: 2em;
	display:inline-block;
	position: absolute;
 	top: 60%;
	left: 50%;
}


header .container:before{
	content: '';
	height: 200px;
	vertical-align:	center;
	position: absolute;
    top: 50%;
    left: 50%;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;

}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

.icones-redes-sociais a {
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -99999px;

}
.icones-redes-sociais li {
	display: inline-block;
	padding: 5px;

}
.github {
	background-image: url(github.png);
}

.twitter {
	background-image: url(/twitter.png);
}

.linkedin {
	background-image: url(/img/linkedin.png);
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

div ul {
	position: absolute;
  top: 52%;
  left: -29%
}
html {
  background-color: rgb(61, 61, 61);
	background-size: cover;
	
}

